[Unit]
Description=postgresem gateway
Requires=postgresem-seed.service
After=postgresem-seed.service

[Container]
Image=localhost/postgresem:latest
ContainerName=postgresem-gateway
Network=postgresem.network
EnvironmentFile=%h/.config/postgresem/postgresem-gateway.env
User=10001:10001
PodmanArgs=--entrypoint=/bin/sh
Exec=-c "exec sleep infinity"

[Service]
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=default.target
